# babel.cfg

# 1. Скануємо всі .py файли, що лежать безпосередньо в корені проєкту
[python: *.py]
keywords = _ _l lazy_gettext

# 2. Скануємо всі .py файли всередині конкретних папок
[python: app/**.py]
keywords = _ _l lazy_gettext

# 3. Скануємо .html шаблони. Зверніть увагу, що опція 'extensions'
# має бути в кожній секції jinja2.

[jinja2: app/**.html]
extensions = jinja2.ext.i18n,jinja2.ext.do