<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for page in pages %}
  <url>
    <loc>{{ page.loc }}</loc>
    {%- for alt in page.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alt.hreflang }}" href="{{ alt.href }}"/>
    {%- endfor %}
    <lastmod>{{ page.lastmod }}</lastmod>
    <changefreq>{{ page.changefreq }}</changefreq>
    <priority>{{ page.priority }}</priority>
  </url>
{%- endfor %}
</urlset>
