{% extends "admin/admin_base.html" %}

{% block admin_content %}
<h2>{{ title }}</h2>
<form method="POST" action="" class="styled-form">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        {% if form.slug.errors %}<div class="errors">{{ form.slug.errors|join(', ') }}</div>{% endif %}
    </div>

    <div class="form-group">
        {{ form.uk_name.label(class="form-label") }}
        {{ form.uk_name(class="form-control") }}
         {% if form.uk_name.errors %}<div class="errors">{{ form.uk_name.errors|join(', ') }}</div>{% endif %}
    </div>
    
    <div class="form-group">
        {{ form.en_name.label(class="form-label") }}
        {{ form.en_name(class="form-control") }}
        {% if form.en_name.errors %}<div class="errors">{{ form.en_name.errors|join(', ') }}</div>{% endif %}
    </div>
    
    <br>
    <button type="submit" class="button">{{ form.submit.label.text }}</button>
    {# === ВИПРАВЛЕННЯ ТУТ === #}
    <a href="{{ url_for('admin.list_tags', lang_code=g.lang_code) }}" class="button button-secondary">{{ _('Скасувати') }}</a>
</form>
{% endblock %}